<% collection.each do |course_module| %>
  <table class="table">
    <thead class="th-tables">
      <tr>
        <th colspan="2" style="width: 200px;">Detalle de M贸dulo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>M贸dulo:</td>
        <td><%= course_module.name %></td>
      </tr>
      <tr>
        <td>Curso al que pertenece:</td>
        <td><%= course_module.course.name %></td>
      </tr>
      <tr>
        <td>Fecha de creaci贸n:</td>
        <td><%= course_module.created_at %></td>
      </tr>
      <tr>
        <td>Fecha de actualizaci贸n:</td>
        <td><%= course_module.updated_at %></td>
      </tr>
    </tbody>
  </table>
<% end %>
