/*---------Cursos----------*/
@font-face {
    font-family:'FontAwesome';
    src:url('fontawesome-webfont.eot?v=4.0.3');
    src:url('fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),url('fontawesome-webfont.woff?v=4.0.3') format('woff'),url('fontawesome-webfont.ttf?v=4.0.3') format('truetype'),url('fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight:normal;
    font-style:normal
}




/*---------Botones (btn/accion que hace/view a la que pertenece)----------*/
.btn_show, .btn_edit, .btn_action, .btn_add_modules, .btn_list_modules { /*---btns verdes---*/
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #60BAA7;
  border: none;
  border-radius: 5px;
  border: 1px solid #169F85;
}
.btn_show_edit, .btn_show_back, .btn_show_ec, .btn_back_ec, .btn_back_nc { /*---btns azules---*/
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #337AB7;
  border: none;
  border-radius: 5px;
  border: 1px solid #2E6DA4;
}
.btn_show {
    float: right;
    margin-left: 35px;
}

.btn_show:hover, .btn_edit:hover, .btn_show_reg:hover, .btn_action:hover, 
.btn_add_modules:hover, .btn_list_modules:hover {
    background-color: #26B99A;
}

.btn_show_edit:hover, .btn_show_back:hover, .btn_back_nc:hover {
    background-color: #286090;
    color: white;
}

.btn_show:active, .btn_edit:active, .btn_show_reg:active, .btn_action:active, 
.btn_add_modules:active, .btn_list_modules:active {
  background-color: #26B99A;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn_show_edit:active, .btn_show_back:active, .btn_back_nc:active {
    background-color: #2E6DA4;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn_show_edit, .btn_show_back, .btn_show_reg {
    margin-bottom: 15px;
}
.btn_new_course_admin-ic, .btn_back_admin-ic, .btn_back-ic {
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border: 1px solid #169F85;
  background-color: #337ab7;
  border-color: #2e6da4;
  margin-bottom: 10px;
}

.btn_new_course_admin-ic:hover, .btn_back_admin-ic:hover, .btn_back-ic:hover {
    background-color: #286090;
    color: #fff;
}

.btn_new_course_admin-ic:active, .btn_back_admin-ic:active, .btn_back-ic:active {
  background-color: #1ABB9C;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn_new_course_admin-ic {
    margin-right: 20px;
    margin-left: 40px;
}

.btns_ec {
    width: 140px;
    margin-bottom: 15px;
    float: left;
    margin-left: 256px;
}

.actions {
    float: right;
    margin-right: 281px;
}

.btn_back-ic {
  margin-left: 40px;
}

/*--------Fin botones---------*/

#title_courses {
    float: left;
    margin-left: 50px;
    color: #7387AB;
}

#option {
    text-align: center;
}
#show_name_c {
    margin-left: 61px;
}

/*----------Show Courses------------*/
.btn_back_sc, .btn_show_reg, .btn_back_cmod, .btn_edit_cmod {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
      border-top-color: rgb(46, 109, 164);
      border-right-color: rgb(46, 109, 164);
      border-bottom-color: rgb(46, 109, 164);
      border-left-color: rgb(46, 109, 164);
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px
}

.btn_show_reg, .btn_edit_cmod {
  background-color: #60BAA7;
}
.thumbnail {
    height: 200px;
}
.summary, .description {
  word-wrap: break-word;
}

li {
  list-style-type: none;
}

.description_course {
  width: 98%;
  margin: 0 auto;
  background-color: #FFF;
  border: 1px solid #E6E9ED;
  margin-bottom: 10px;
}

hr {
  width: 95%;
}