<h2>Admin Menu</h2>

<h3>Teachers</h3>
<tr>
  <td><%= link_to 'New Teacher', new_teacher_path %></td>
  <td><%= link_to 'List Teachers', teachers_path %></td>
</tr>

<h3>Courses</h3>
<tr>
  <td><%= link_to 'New Course', new_course_path %></td>
  <td><%= link_to 'List Courses', courses_path %></td>
</tr>
